In [2]:
import pandas

In [3]:
df= pandas.read_csv("data/output.csv")

In [4]:
df

,pension_fund,company,invested_amount
0,AkademikerPension,ANDRITZ AG,9035890
1,AkademikerPension,Verbund AG,535485
2,AkademikerPension,Wienerberger AG,489279
3,AkademikerPension,ams AG,9582836
4,AkademikerPension,Oesterreichische Post AG,283769
...,...,...,...
5552,Velliv,AMC ENTERTAINMENT HOLDINGS LOCK UP Prvt,4422
5553,Velliv,JAPAN HOTEL REIT INVESTMENT,3622
5554,Velliv,GENTING SINGAPORE LTD,403
5555,Velliv,PFA Holding,268
5556,Velliv,AUTOGRILL SPA - RTS,39